/* Large devices (laptops/desktops, 1201px and up) */
@media (min-width: 1201px) and (max-width: 1400px) {
    .hero-area {
        left: 53%;
    }

    form.contact-form {
        padding: 65px 25px 52px 25px !important;
    }

    .test-slide {
        margin-left: 5px;
        margin-right: 5px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

    .navigation-open {
        width: 235px;
    }

    .navigation-open .logo {
        left: 58%;
    }

    .navigation-open .navigation__icon {
        left: 75%;
    }

    .navigation__icon {
        top: 27%;
    }

    .navigation .navigation__ul a {
        font-size: 18px;
    }

    .hero-area {
        left: 48%;
    }

    .hero-area h2 {
        font-size: 50px;
        line-height: 56px;
    }

    .hero-area h3 {
        font-size: 27px;
    }

    .hero-area h3 span {
        font-size: 27px;
    }

    .about-content h2 {
        font-size: 40px;
    }

    .about-img img {
        left: -8px;
    }

    .about-content p {
        font-size: 14px;
    }

    .about-info ul li span {
        font-size: 15px;
    }

    .about-info ul li {
        font-size: 14px;
    }

    .common-btn a {
        font-size: 14px;
    }

    .about-social .social-btn {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }

    .about-social .social-btn .icon {
        height: 45px;
        width: 45px;
        line-height: 45px;
    }

    .about-social .social-btn .icon i {
        font-size: 20px;
        line-height: 45px;
    }

    .about-social .social-btn span {
        font-size: 14px;
        line-height: 45px;
    }

    .skill-heading h2 {
        font-size: 40px;
    }

    .skill-item h4 {
        font-size: 20px;
    }

    .port-heading h2 {
        font-size: 40px;
    }

    .port-btn {
        font-size: 16px;
    }

    .service-heading h2 {
        font-size: 40px;
    }

    .service-item h3 {
        font-size: 18px;
    }

    .service-item h3 {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 12px;
    }

    .service-item p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    #service a.read-more {
        font-size: 13px;
    }

    .counter-item i {
        font-size: 40px;
    }

    .counter-item span {
        font-size: 40px;
    }

    .counter-item p {
        font-size: 14px;
    }

    .team-heading h2 {
        font-size: 40px;
    }

    .test-heding h2 {
        font-size: 40px;
    }

    .test-say {
        padding: 30px 30px 125px 30px;
    }

    .test-say h3 {
        font-size: 25px;
    }

    .test-item p {
        font-size: 14px;
        margin: 0 1px;
    }

    .author-name h4 {
        font-size: 18px;
    }

    .author-name span {
        font-size: 11px;
    }

    form.contact-form {
        padding: 65px 25px 40px 25px;
    }

    .news-heading h2 {
        font-size: 40px;
    }

    .news-text h3 a {
        font-size: 18px;
        line-height: 26px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .contact-heading h2 {
        font-size: 40px;
    }

    .cont-place h3 {
        font-size: 17px;
    }

    .cont-place p {
        font-size: 13px;
    }

    .cont-map iframe {
        height: 293px;
    }


}

/* Medium devices (landscape tablets, 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    .navigation-open {
        width: 190px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .navigation-open .logo {
        left: 53%;
    }

    .navigation__icon {
        width: 50px;
        height: 40px;
    }

    .navigation-open .navigation__icon {
        left: 70%;
    }

    .navigation .navigation__ul a {
        font-size: 16px;
        cursor: pointer;
    }

    .navigation .navigation__ul {
        margin-top: 165px;
    }

    .navigation .navigation__ul a {
        margin-bottom: 11px;
    }

    .hero-area {
        left: 50%;
    }

    .hero-area h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-area h3 {
        font-size: 26px;
    }

    .hero-area h3 span {
        font-size: 28px;
    }

    .about-img img {
        left: -13px;
        height: 422px;
    }

    .about-content h2 {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .about-content p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .about-info {
        display: none;
    }

    .common-btn a {
        font-size: 13px;
    }

    .about-social .social-btn {
        width: 45px;
        height: 45px;
        font-size: 15px;
    }

    .about-social .social-btn .icon {
        height: 45px;
        width: 45px;
        line-height: 45px;
    }

    .about-social .social-btn .icon i {
        font-size: 18px;
        line-height: 45px;
    }

    .about-social .social-btn span {
        font-size: 14px;
        line-height: 45px;
    }

    .skill-heading h2 {
        font-size: 35px;
    }

    .skill-item {
        margin-bottom: 65px;
    }

    .mrgn-b {
        margin-bottom: 0px !important;
    }

    .skill-item h4 {
        font-size: 22px;
    }

    .port-heading h2 {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .port-btn {
        font-size: 14px;
    }

    .port-overlay-text h4 {
        font-size: 18px;
    }

    a.buy-now {
        font-size: 12px;
    }

    .video-content h3 {
        font-size: 25px;
    }

    .service-heading h2 {
        font-size: 35px;
    }

    .service-item p {
        font-size: 14px;
        line-height: 24px;
        padding: 10px 30px;
    }

    .service-item {
        margin-bottom: 28px;
    }

    .counter-item {
        padding: 50px 0;
    }

    .pdn-t {
        padding: 0px;
    }

    .pdn-b {
        padding-bottom: 50px;
    }

    .team-heading h2 {
        font-size: 35px;
    }

    .test-heding h2 {
        font-size: 35px;
    }

    .test-say h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .test-say {
        padding: 30px 30px 117px 30px;
    }

    .test-item p {
        padding-right: 3px;
        font-size: 13px;
    }

    .author-img {
        width: 70px;
        height: 70px;
        margin-right: 12px;
    }

    .author-name h4 {
        font-size: 17px;
    }

    .author-name span {
        font-size: 11px;
    }

    .news-heading h2 {
        font-size: 35px;
    }

    .news-text h3 a {
        font-size: 20px;
        line-height: 30px;
    }

    .news-item {
        margin-bottom: 26px;
    }

    .contact-heading h2 {
        font-size: 35px;
    }

    form.contact-form {
        padding: 65px 25px 40px 25px;
    }

    .cont-place h3 {
        font-size: 17px;
    }

    .cont-place p {
        font-size: 13px;
    }

    .nm-em-form label {
        font-size: 13px;
    }

    .subject-form label {
        font-size: 13px;
    }

    .message-form label {
        font-size: 13px;
    }

    .cont-map iframe {
        height: 290px;
    }

    .footer-text h3 {
        font-size: 14px;
    }

    #about {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    #skills {
        padding-bottom: 60px;
    }

    #service {
        padding: 90px 0;
    }

    #team {
        padding: 80px 0;
    }

    #testimonial {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    #news {
        padding-bottom: 70px;
    }

    #contact {
        padding: 70px 0;
    }

    .skill-item::after {
        left: 43px;
    }



}

/* Small devices  (portrait tablets and phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

    .navigation-open {
        width: 190px;
    }

    .navigation-open .logo {
        left: 46%;
    }

    .navigation-open .navigation__icon {
        left: 63%;
        top: 24%
    }

    .navigation .navigation__ul {
        margin-top: 188px;
    }

    .navigation .navigation__ul a {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .hero-area {
        left: 57%;
    }

    .hero-area h2 {
        font-size: 27px;
        line-height: 43px;
    }

    .hero-area h3 {
        font-size: 20px;
    }

    .hero-area h3 span {
        font-size: 20px;
    }

    .about-img img {
        left: 0px;
    }

    .about-content h2 {
        font-size: 35px;
        margin-bottom: 12px;
        margin-top: 15px;
    }

    .skill-heading h2 {
        font-size: 35px;
        margin-bottom: 75px;
    }

    .skill-item::after {
        left: 62px;
    }

    .about-info ul li {
        font-size: 14px;
    }

    .about-info ul li span {
        font-size: 16px;
    }

    .skill-item {
        margin-bottom: 70px;
    }

    #skills {
        padding-bottom: 0px;
    }

    #portfolio-area {
        padding-top: 20px;
    }

    .port-heading h2 {
        font-size: 35px;
        margin-bottom: 45px;
    }

    .port-btn {
        font-size: 12px;
    }

    .port-overlay-text {
        bottom: 15%;
    }

    a.buy-now {
        font-size: 14px;
        transform: translateX(-140px);
    }

    .port-overlay {
        transform: translateY(420px);
        -webkit-transform: translateY(420px);
        -moz-transform: translateY(420px);
        -ms-transform: translateY(420px);
        -o-transform: translateY(420px);
    }

    .video-content h3 {
        font-size: 25px;
    }

    #service {
        padding-top: 90px;
    }

    .service-heading h2 {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .service-item p {
        line-height: 28px;
        padding: 12px 40px;
    }

    .service-item {
        margin-bottom: 30px;
    }

    #service {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .counter-item {
        padding: 30px 0;
    }

    .pdn-tb {
        padding: 30px 0;
    }

    .team-heading h2 {
        font-size: 35px;
    }

    #team {
        padding: 80px 0;
    }

    .test-heding h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }

    .test-say {
        margin-bottom: 30px;
    }

    .news-heading h2 {
        font-size: 35px;
        margin-bottom: 50px;
    }

    #testimonial {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .test-slide {
        padding: 30px 25px;
    }

    .news-item {
        margin-bottom: 30px;
    }

    #news {
        padding-bottom: 65px;
    }

    .news-heading h2 {
        font-size: 35px;
        margin-bottom: 55px;
    }

    .contact-heading h2 {
        font-size: 35px;
    }

    .contact-heading h2 {
        font-size: 35px;
        margin-bottom: 45px;
    }

    .contact-link {
        margin-bottom: 30px;
    }

    #contact {
        padding: 80px 0;
    }

    #scroll-top {
        display: none !important;
    }



}


/* Small devices  (phones, max-width 576px) */
@media (max-width: 576px) {

    .logo {
        width: 50px;
        height: 50px;
        left: 30%;
    }

    .navigation-open .logo {
        left: 56%;
    }

    .navigation-open .navigation__icon {
        left: 62%;
    }

    .navigation .navigation__ul a {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .navigation .navigation__ul {
        margin-top: 190px;
    }

    .navigation-open {
        width: 140px;
    }

    .navigation {
        display: block;
        padding-right: 16px;
    }

    .hero-area {
        left: 52%;
    }

    .hero-area h2 {
        font-size: 25px;
        line-height: 36px;
    }

    .hero-area h3 {
        font-size: 17px;
    }

    .hero-area h3 span {
        font-size: 17px;
        ;
    }

    .about-img img {
        left: 2px;
    }

    .about-content h2 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .about-content p {
        line-height: 24px;
        font-size: 14px;
    }

    .about-info {
        margin-top: 22px;
    }

    .about-info ul li span {
        font-size: 15px;
    }

    .about-info ul li {
        font-size: 13px;
    }

    .common-btn a {
        font-size: 12px;
    }

    .about-social {
        margin-top: 18px;
    }

    .about-social .social-btn {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .about-social .social-btn .icon {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .about-social .social-btn span {
        font-size: 14px;
        line-height: 40px;
        margin-left: 5px;
    }

    .about-social .social-btn .icon i {
        font-size: 16px;
        line-height: 40px;
    }

    .about-social .social-btn:hover {
        width: 130px;
    }

    .skill-heading h2 {
        font-size: 35px;
        margin-bottom: 70px;
    }

    #about {
        padding-top: 90px;
        padding-bottom: 60px;
    }

    .skill-item {
        margin-bottom: 50px;
    }

    .skill-item::after {
        left: 60px;
    }

    #skills {
        padding-bottom: 0px;
    }

    .skill-item h4 {
        font-size: 20px;
    }

    .port-heading h2 {
        font-size: 35px;
        margin-bottom: 22px;
    }

    #portfolio-area {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .port-btn {
        margin: 0 2px;
        padding: 8px 22px;
        font-size: 14px;
    }

    .pro-menu {
        margin-bottom: 30px;
    }

    .port-overlay {
        transform: translateY(390px);
        -webkit-transform: translateY(390px);
        -moz-transform: translateY(390px);
        -ms-transform: translateY(390px);
        -o-transform: translateY(390px);
    }

    .port-overlay-text {
        bottom: 15%;
    }

    a.buy-now {
        font-size: 14px;
    }

    .video-content h3 {
        font-size: 25px;
    }

    .service-heading h2 {
        font-size: 35px;
        margin-bottom: 40px;
    }

    #service {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .service-item p {
        font-size: 15px;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .service-item {
        margin-bottom: 30px;
    }

    .counter-item {
        padding: 22px 0;
    }

    .pdn-tb {
        padding: 20px 0;
    }

    .team-heading h2 {
        font-size: 35px;
        margin-bottom: 0px;
    }

    #team {
        padding-top: 70px;
        padding-bottom: 25px;
    }

    .test-heding h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }

    .test-say h3 {
        font-size: 25px;
        margin-bottom: 28px;
    }

    .test-say {
        padding: 30px 30px 50px 30px;
        margin-bottom: 30px;
    }

    .test-item p {
        font-size: 14px;
    }

    #testimonial {
        padding-bottom: 40px;
    }

    .news-heading h2 {
        font-size: 35px;
        margin-bottom: 35px;
    }

    .news-item {
        margin-bottom: 30px;
    }

    #news {
        padding-bottom: 50px;
    }

    .contact-heading h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    #contact {
        padding: 70px 0;
    }

    .contact-link {
        margin-bottom: 30px;
    }

    .footer-text h3 {
        font-size: 14px;
    }

    #scroll-top {
        display: none !important;
    }


}

/* Small devices  (small phones, 468px and down) */
@media (max-width: 478px) {
        
    .logo {
        width: 40px;
        height: 40px;
        left: 22%;
    }
    .navigation__icon .topBar {
        width: 40px;
    }
    .navigation__icon .middleBar {
        width: 40px;
    }
    .navigation__icon .bottomBar {
        width: 30px;
    }
    .navigation {
        width: 65px;
    }
    .navigation__icon {
        top: 19%;
        left: 26%;
    }
    .navigation {
        padding-right: 20px;
    }
    .navigation-open {
        width: 120px;
    }
    .navigation-open .bottomBar {
        width: 40px !important;
    }
    .hero-area {
        width: 100%;
        text-align: center;
    }
    .hero-area h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .hero-area h3 {
        font-size: 22px;
    }
    .hero-area h3 span {
        font-size: 22px;
    }
    .navigation .navigation__ul {
        margin-top: 153px;
    }
    .about-img img {
        height: 470px;
    }
    .about-content h2 {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .about-content p {
        font-size: 12px;
    }
    .about-info ul li {
        font-size: 12px;
    }
    .about-info ul li span {
        font-size: 14px;
    }
    .about-info {
        display: block !important;
    }
    .common-btn a {
        padding: 16px 36px;
    }
    .common-btn a:hover {
        transform: translate(-8px, -8px);
    }
    .common-btn a:hover::after {
        transform: translate(6px, 6px);
    }
    .skill-heading h2 {
        font-size: 30px;
    }
    .skill-item::after {
        left: 40px;
    }
    .skill-item::after {
        bottom: 40px;
    }
    .port-heading h2 {
        font-size: 30px;
    }
    .port-btn {
        margin: 0 0px;
        padding: 6px 15px;
        font-size: 11px;
    }
    .service-heading h2 {
        font-size: 30px;
    }
    .service-item h3 {
        font-size: 18px;
    }
    .service-item p {
        font-size: 13px;
    }
    .counter-item span {
        font-size: 40px;
    }
    .counter-item p {
        font-size: 14px;
    }
    .counter-item i {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .team-heading h2 {
        font-size: 30px;
    }
    #team .flip-card-back p {
        font-size: 14px;
    }
    .test-heding h2 {
        font-size: 30px;
    }
    .test-say h3 {
        font-size: 20px;
    }
    .news-heading h2 {
        font-size: 30px;
    }
    .news-text h3 a {
        font-size: 20px;
        line-height: 30px;
    }
    .contact-heading h2 {
        font-size: 30px;
    }
    .send-msg input[type="submit"] {
        font-size: 14px;
        padding: 16px 36px;
    }
    .footer-text h3 {
        font-size: 12px;
    }
    #about {
        padding-top: 80px;
    }




}